
:root {
    --overflowfloat:            0.00000000000000000000001;

    --transparencycolor:        0, 255, 0;
    --transparencyalpha:        0.2;
    --bordercolor:              0, 150, 0;
    --messagetransparency:      0.5;
    --guildchanneltransparency: 0.2;
    --chatinputtransparency:    0.1;
    --memberlisttransparency:   0.1;
    --accentcolor:              0, 255, 0;

    --settingsicons:            1;
    --font:                     "Comic Sans MS", "gg sans", "Noto Sans";
    --textshadow:               lime;

    --textbrightest:            0, 255, 0;
    --textbrighter:             80, 255, 120;
    --textbright:               120, 255, 140;
    --textdark:                 60, 200, 100;
    --textdarker:               40, 140, 60;
    --textdarkest:              20, 100, 30;

    --background:               linear-gradient(135deg, #00ff00, #ccff00);
    --backgroundposition:       center;
    --backgroundsize:           cover;
    --backgroundblur:           0;

    --popout:                   var(--background);
    --popoutposition:           center;
    --popoutsize:               cover;
    --popoutblur:               0;

    --backdrop:                 rgba(0, 255, 0, 0.2);
    --backdropposition:         center;
    --backdropsize:             cover;
    --backdropblur:             0;

    --successcolor:             0, 255, 0;
    --warningcolor:             170, 255, 0;
    --dangercolor:              100, 255, 100;

    --version1_0_5:             none;
}
